<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dbname</param-name>
        <param-value>alphacabsdb</param-value>
    </context-param>
    <context-param>
        <param-name>dbuser</param-name>
        <param-value>ateam</param-value>
    </context-param>
    <context-param>
        <param-name>dbpass</param-name>
        <param-value>ateam</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UserServLet</servlet-name>
        <servlet-class>com.redundant.UserServLet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>com.redundant.NewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>com.redundant.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingFormServlet</servlet-name>
        <servlet-class>com.BookingFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>com.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminApproveCustomer</servlet-name>
        <servlet-class>com.AdminDashCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashBookingsServlet</servlet-name>
        <servlet-class>com.AdminDashBookingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashCustomerServlet</servlet-name>
        <servlet-class>com.AdminDashCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>com.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDashUserServlet</servlet-name>
        <servlet-class>com.AdminDashUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServLet</servlet-name>
        <url-pattern>/UserService.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/Update.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashBookingsServlet</servlet-name>
        <url-pattern>/AdminDashBookingsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingFormServlet</servlet-name>
        <url-pattern>/BookingFormServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashCustomerServlet</servlet-name>
        <url-pattern>/AdminDashCustomerServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDashUserServlet</servlet-name>
        <url-pattern>/AdminDashUserServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
